<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<style>
body {background-color: #e6e6ff}
.nombre{
	color: #FFFFFF;
}
#bien{
	color: #FFFFFF;
	size: 15px;
}
#casa{
	display:block;
	margin:auto;
}
</style>

<body>
	<header th:replace="layout/layout :: header"></header>
		<h1>EL PAGO SE REALIZÓ CORRECTAMENTE</h1>
		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/Productos/catalogo/'}"
								class="btn btn-warning"><i class="fas fa-edit">Volver a Catalogo</i>
								
		</a>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>